.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 20px;
  position: relative;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  color: #858082;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
  transition: 0.2s;
}

.back-button:hover {
  color: #858082;
}


.login-card {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  text-align: center;
}

.login-title {
  font-size: 26px;
  margin-bottom: 20px;
  color: #ff4f8b;
  font-weight: 600;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
}

.login-input:focus {
  border-color: #ff4f8b;
  box-shadow: 0 0 4px rgba(255, 79, 139, 0.4);
}


.login-button {
  margin-top: 10px;
  padding: 12px;
  background: #ff4f8b;
  color: white;
  border-radius: 8px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.login-button:hover {
  background: #d83c74;
}


.login-link {
  margin-top: 10px;
  display: block;
  color: #ff4f8b;
  font-weight: 500;
  transition: 0.2s;
  text-decoration: none; 
}

.login-link:hover {
  color: #d83c74;
}


.no-underline {
  text-decoration: none !important;
}